//BUTTONS
@each $key, $val in $colors {
    .btn-#{$key}{
        @include btn-two($val); //Passing in the Val local var in to the mixin as an arguement
        &:hover {
            background-color: lighten($val, 5); //this is a SASS function that will lighten a color by a certain percent (5 in this case)
        }
    }

    .btn-outlined-#{$key} {
        border: $base-border-thickness solid $val;
        $color:light-comp($val);
    }
}

.btn {
    @include btn;
}
