//NAVBAR
%flex-layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar {
    @extend %flex-layout;
    padding: 10px; 
    box-shadow:  0px 14px 14px -6px #000000;
}

@each $key, $val in $colors {
    .navbar-#{$key} {
        @extend .navbar;
        background-color: $val;
    }
}