@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*RESET STYLES*/
* {
  color: inherit;
  margin: 0;
  padding: 0;
}

/*BASE STYLES*/
body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.text-primary {
  color: #326dee;
}
.text-primary:hover {
  color: blue;
}

.text-primary-light-1 {
  color: #477cf0;
}

.text-primary-light-2 {
  color: #5b8af1;
}

.text-primary-light-3 {
  color: #7099f3;
}

.text-primary-light-4 {
  color: #84a7f5;
}

.text-primary-light-5 {
  color: #99b6f7;
}

.text-primary-light-6 {
  color: #adc5f8;
}

.text-primary-light-7 {
  color: #c2d3fa;
}

.text-primary-light-8 {
  color: #d6e2fc;
}

.text-primary-light-9 {
  color: #ebf0fd;
}

.text-secondary {
  color: #1ac886;
}
.text-secondary:hover {
  color: blue;
}

.text-secondary-light-1 {
  color: #31ce92;
}

.text-secondary-light-2 {
  color: #48d39e;
}

.text-secondary-light-3 {
  color: #5fd9aa;
}

.text-secondary-light-4 {
  color: #76deb6;
}

.text-secondary-light-5 {
  color: #8de4c3;
}

.text-secondary-light-6 {
  color: #a3e9cf;
}

.text-secondary-light-7 {
  color: #baefdb;
}

.text-secondary-light-8 {
  color: #d1f4e7;
}

.text-secondary-light-9 {
  color: #e8faf3;
}

.text-error {
  color: #d32752;
}
.text-error:hover {
  color: blue;
}

.text-error-light-1 {
  color: #d73d63;
}

.text-error-light-2 {
  color: #dc5275;
}

.text-error-light-3 {
  color: #e06886;
}

.text-error-light-4 {
  color: #e57d97;
}

.text-error-light-5 {
  color: #e993a9;
}

.text-error-light-6 {
  color: #eda9ba;
}

.text-error-light-7 {
  color: #f2becb;
}

.text-error-light-8 {
  color: #f6d4dc;
}

.text-error-light-9 {
  color: #fbe9ee;
}

.text-info {
  color: #f6c31c;
}
.text-info:hover {
  color: blue;
}

.text-info-light-1 {
  color: #f7c933;
}

.text-info-light-2 {
  color: #f8cf49;
}

.text-info-light-3 {
  color: #f9d560;
}

.text-info-light-4 {
  color: #fadb77;
}

.text-info-light-5 {
  color: #fbe18e;
}

.text-info-light-6 {
  color: #fbe7a4;
}

.text-info-light-7 {
  color: #fcedbb;
}

.text-info-light-8 {
  color: #fdf3d2;
}

.text-info-light-9 {
  color: #fef9e8;
}

.text-blue {
  color: #1919e6;
}
.text-blue:hover {
  color: blue;
}

.text-blue-light-1 {
  color: #3030e9;
}

.text-blue-light-2 {
  color: #4747eb;
}

.text-blue-light-3 {
  color: #5e5eee;
}

.text-blue-light-4 {
  color: #7575f0;
}

.text-blue-light-5 {
  color: #8c8cf3;
}

.text-blue-light-6 {
  color: #a3a3f5;
}

.text-blue-light-7 {
  color: #babaf8;
}

.text-blue-light-8 {
  color: #d1d1fa;
}

.text-blue-light-9 {
  color: #e8e8fd;
}

.text-red {
  color: #e61919;
}
.text-red:hover {
  color: blue;
}

.text-red-light-1 {
  color: #e93030;
}

.text-red-light-2 {
  color: #eb4747;
}

.text-red-light-3 {
  color: #ee5e5e;
}

.text-red-light-4 {
  color: #f07575;
}

.text-red-light-5 {
  color: #f38c8c;
}

.text-red-light-6 {
  color: #f5a3a3;
}

.text-red-light-7 {
  color: #f8baba;
}

.text-red-light-8 {
  color: #fad1d1;
}

.text-red-light-9 {
  color: #fde8e8;
}

.text-yellow {
  color: #e6e619;
}
.text-yellow:hover {
  color: blue;
}

.text-yellow-light-1 {
  color: #e9e930;
}

.text-yellow-light-2 {
  color: #ebeb47;
}

.text-yellow-light-3 {
  color: #eeee5e;
}

.text-yellow-light-4 {
  color: #f0f075;
}

.text-yellow-light-5 {
  color: #f3f38c;
}

.text-yellow-light-6 {
  color: #f5f5a3;
}

.text-yellow-light-7 {
  color: #f8f8ba;
}

.text-yellow-light-8 {
  color: #fafad1;
}

.text-yellow-light-9 {
  color: #fdfde8;
}

.text-green {
  color: #19e635;
}
.text-green:hover {
  color: blue;
}

.text-green-light-1 {
  color: #30e949;
}

.text-green-light-2 {
  color: #47eb5d;
}

.text-green-light-3 {
  color: #5eee72;
}

.text-green-light-4 {
  color: #75f086;
}

.text-green-light-5 {
  color: #8cf39a;
}

.text-green-light-6 {
  color: #a3f5ae;
}

.text-green-light-7 {
  color: #baf8c2;
}

.text-green-light-8 {
  color: #d1fad7;
}

.text-green-light-9 {
  color: #e8fdeb;
}

.text-orange {
  color: #ffa600;
}
.text-orange:hover {
  color: blue;
}

.text-orange-light-1 {
  color: #ffaf1a;
}

.text-orange-light-2 {
  color: #ffb833;
}

.text-orange-light-3 {
  color: #ffc14d;
}

.text-orange-light-4 {
  color: #ffca66;
}

.text-orange-light-5 {
  color: #ffd380;
}

.text-orange-light-6 {
  color: #ffdb99;
}

.text-orange-light-7 {
  color: #ffe4b3;
}

.text-orange-light-8 {
  color: #ffedcc;
}

.text-orange-light-9 {
  color: #fff6e6;
}

.text-purple {
  color: #9900ff;
}
.text-purple:hover {
  color: blue;
}

.text-purple-light-1 {
  color: #a31aff;
}

.text-purple-light-2 {
  color: #ad33ff;
}

.text-purple-light-3 {
  color: #b84dff;
}

.text-purple-light-4 {
  color: #c266ff;
}

.text-purple-light-5 {
  color: #cc80ff;
}

.text-purple-light-6 {
  color: #d699ff;
}

.text-purple-light-7 {
  color: #e0b3ff;
}

.text-purple-light-8 {
  color: #ebccff;
}

.text-purple-light-9 {
  color: #f5e6ff;
}

.text-gray {
  color: #808080;
}
.text-gray:hover {
  color: blue;
}

.text-gray-light-1 {
  color: #8d8d8d;
}

.text-gray-light-2 {
  color: #999999;
}

.text-gray-light-3 {
  color: #a6a6a6;
}

.text-gray-light-4 {
  color: #b3b3b3;
}

.text-gray-light-5 {
  color: silver;
}

.text-gray-light-6 {
  color: #cccccc;
}

.text-gray-light-7 {
  color: #d9d9d9;
}

.text-gray-light-8 {
  color: #e6e6e6;
}

.text-gray-light-9 {
  color: #f2f2f2;
}

.text-black {
  color: black;
}
.text-black:hover {
  color: blue;
}

.text-black-light-1 {
  color: #1a1a1a;
}

.text-black-light-2 {
  color: #333333;
}

.text-black-light-3 {
  color: #4d4d4d;
}

.text-black-light-4 {
  color: #666666;
}

.text-black-light-5 {
  color: gray;
}

.text-black-light-6 {
  color: #999999;
}

.text-black-light-7 {
  color: #b3b3b3;
}

.text-black-light-8 {
  color: #cccccc;
}

.text-black-light-9 {
  color: #e6e6e6;
}

.text-white {
  color: white;
}
.text-white:hover {
  color: blue;
}

.text-white-light-1 {
  color: white;
}

.text-white-light-2 {
  color: white;
}

.text-white-light-3 {
  color: white;
}

.text-white-light-4 {
  color: white;
}

.text-white-light-5 {
  color: white;
}

.text-white-light-6 {
  color: white;
}

.text-white-light-7 {
  color: white;
}

.text-white-light-8 {
  color: white;
}

.text-white-light-9 {
  color: white;
}

.card {
  border-radius: 5px;
  border: red 1px solid;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #326dee;
}
.btn-primary:hover {
  background-color: #4a7ef0;
}

.btn-outlined-primary {
  border: 1px solid #326dee;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1ac886;
}
.btn-secondary:hover {
  background-color: #1ddf95;
}

.btn-outlined-secondary {
  border: 1px solid #1ac886;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
}
.btn-error:hover {
  background-color: #da3961;
}

.btn-outlined-error {
  border: 1px solid #d32752;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
}
.btn-info:hover {
  background-color: #f7c935;
}

.btn-outlined-info {
  border: 1px solid #f6c31c;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1919e6;
}
.btn-blue:hover {
  background-color: #3030e9;
}

.btn-outlined-blue {
  border: 1px solid #1919e6;
}

.btn-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e61919;
}
.btn-red:hover {
  background-color: #e93030;
}

.btn-outlined-red {
  border: 1px solid #e61919;
}

.btn-yellow {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e6e619;
}
.btn-yellow:hover {
  background-color: #e9e930;
}

.btn-outlined-yellow {
  border: 1px solid #e6e619;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #19e635;
}
.btn-green:hover {
  background-color: #30e949;
}

.btn-outlined-green {
  border: 1px solid #19e635;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffa600;
}
.btn-orange:hover {
  background-color: #ffaf1a;
}

.btn-outlined-orange {
  border: 1px solid #ffa600;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
}
.btn-purple:hover {
  background-color: #a31aff;
}

.btn-outlined-purple {
  border: 1px solid #9900ff;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #808080;
}
.btn-gray:hover {
  background-color: #8d8d8d;
}

.btn-outlined-gray {
  border: 1px solid #808080;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: black;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outlined-black {
  border: 1px solid black;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  border: 1px solid white;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.g-0 {
  margin-left: 0;
  margin-right: 0;
}

.g-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.g-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.g-3 {
  margin-left: 15px;
  margin-right: 15px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width: 0px) {
  .col-1 {
    width: 8.3333333333%;
  }

  .col-2 {
    width: 16.6666666667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.3333333333%;
  }

  .col-5 {
    width: 41.6666666667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.3333333333%;
  }

  .col-8 {
    width: 66.6666666667%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.3333333333%;
  }

  .col-11 {
    width: 91.6666666667%;
  }

  .col-12 {
    width: 100%;
  }
}
@media screen and (min-width: 0px) {
  .col-1-xs {
    width: 8.3333333333%;
  }

  .col-2-xs {
    width: 16.6666666667%;
  }

  .col-3-xs {
    width: 25%;
  }

  .col-4-xs {
    width: 33.3333333333%;
  }

  .col-5-xs {
    width: 41.6666666667%;
  }

  .col-6-xs {
    width: 50%;
  }

  .col-7-xs {
    width: 58.3333333333%;
  }

  .col-8-xs {
    width: 66.6666666667%;
  }

  .col-9-xs {
    width: 75%;
  }

  .col-10-xs {
    width: 83.3333333333%;
  }

  .col-11-xs {
    width: 91.6666666667%;
  }

  .col-12-xs {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .col-1-sm {
    width: 8.3333333333%;
  }

  .col-2-sm {
    width: 16.6666666667%;
  }

  .col-3-sm {
    width: 25%;
  }

  .col-4-sm {
    width: 33.3333333333%;
  }

  .col-5-sm {
    width: 41.6666666667%;
  }

  .col-6-sm {
    width: 50%;
  }

  .col-7-sm {
    width: 58.3333333333%;
  }

  .col-8-sm {
    width: 66.6666666667%;
  }

  .col-9-sm {
    width: 75%;
  }

  .col-10-sm {
    width: 83.3333333333%;
  }

  .col-11-sm {
    width: 91.6666666667%;
  }

  .col-12-sm {
    width: 100%;
  }
}
@media screen and (min-width: 720px) {
  .col-1-md {
    width: 8.3333333333%;
  }

  .col-2-md {
    width: 16.6666666667%;
  }

  .col-3-md {
    width: 25%;
  }

  .col-4-md {
    width: 33.3333333333%;
  }

  .col-5-md {
    width: 41.6666666667%;
  }

  .col-6-md {
    width: 50%;
  }

  .col-7-md {
    width: 58.3333333333%;
  }

  .col-8-md {
    width: 66.6666666667%;
  }

  .col-9-md {
    width: 75%;
  }

  .col-10-md {
    width: 83.3333333333%;
  }

  .col-11-md {
    width: 91.6666666667%;
  }

  .col-12-md {
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .col-1-lg {
    width: 8.3333333333%;
  }

  .col-2-lg {
    width: 16.6666666667%;
  }

  .col-3-lg {
    width: 25%;
  }

  .col-4-lg {
    width: 33.3333333333%;
  }

  .col-5-lg {
    width: 41.6666666667%;
  }

  .col-6-lg {
    width: 50%;
  }

  .col-7-lg {
    width: 58.3333333333%;
  }

  .col-8-lg {
    width: 66.6666666667%;
  }

  .col-9-lg {
    width: 75%;
  }

  .col-10-lg {
    width: 83.3333333333%;
  }

  .col-11-lg {
    width: 91.6666666667%;
  }

  .col-12-lg {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-1-xl {
    width: 8.3333333333%;
  }

  .col-2-xl {
    width: 16.6666666667%;
  }

  .col-3-xl {
    width: 25%;
  }

  .col-4-xl {
    width: 33.3333333333%;
  }

  .col-5-xl {
    width: 41.6666666667%;
  }

  .col-6-xl {
    width: 50%;
  }

  .col-7-xl {
    width: 58.3333333333%;
  }

  .col-8-xl {
    width: 66.6666666667%;
  }

  .col-9-xl {
    width: 75%;
  }

  .col-10-xl {
    width: 83.3333333333%;
  }

  .col-11-xl {
    width: 91.6666666667%;
  }

  .col-12-xl {
    width: 100%;
  }
}
.navbar, .navbar-white, .navbar-black, .navbar-gray, .navbar-purple, .navbar-orange, .navbar-green, .navbar-yellow, .navbar-red, .navbar-blue, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar, .navbar-white, .navbar-black, .navbar-gray, .navbar-purple, .navbar-orange, .navbar-green, .navbar-yellow, .navbar-red, .navbar-blue, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
  padding: 10px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar-primary {
  background-color: #326dee;
}

.navbar-secondary {
  background-color: #1ac886;
}

.navbar-error {
  background-color: #d32752;
}

.navbar-info {
  background-color: #f6c31c;
}

.navbar-blue {
  background-color: #1919e6;
}

.navbar-red {
  background-color: #e61919;
}

.navbar-yellow {
  background-color: #e6e619;
}

.navbar-green {
  background-color: #19e635;
}

.navbar-orange {
  background-color: #ffa600;
}

.navbar-purple {
  background-color: #9900ff;
}

.navbar-gray {
  background-color: #808080;
}

.navbar-black {
  background-color: black;
}

.navbar-white {
  background-color: white;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=index.scss.map */

/*# sourceMappingURL=main.css.map */
