//MEDIA QUERIES
//using sass variables from a map in a mixin to create class based media queries 

//Size Maps
$breakpoints: (
    "xs" : 0px,
    "sm" : 480px,
    "md" : 720px,
    "lg" : 960px,
    "xl" : 1200px
);

$grid-gaps: (
    '0': 0,
    '1': 5px,
    '2': 10px,
    '3': 15px
);

@mixin baseCol {
    @media screen and (min-width: map-get($breakpoints, "xs")) {
        @content;
    }
}

@mixin xs { //STORING MEDIA QUERY IN MIXIN
    @media  screen and (min-width: map-get($breakpoints, "xs")) {
        @content; 
    }
};

@mixin sm { //mixin invocation can now include styles which will take the place of @content in tha mixin definition
    @media  screen and (min-width: map-get($breakpoints, "sm")) {
        @content;
    }
};

@mixin md {
    @media  screen and (min-width: map-get($breakpoints, "md")) {
        @content;
    }
};

@mixin lg {
    @media  screen and (min-width: map-get($breakpoints, "lg")) {
        @content;
    }
};

@mixin xl {
    @media  screen and (min-width: map-get($breakpoints, "xl")) {
        @content;
    }
};

//GRID SYSTEM 

//Grid Gap classes
@each $key, $val in $grid-gaps {
    .g-#{$key} {
        margin-left: $val;
        margin-right: $val;
    }
};