//USING A FOR LOOP WITHIN AN EACH LOOP 
@each $key, $val in $colors {
    .text-#{$key} {
        color: #{$val};
    }

    .text-#{$key}-hover {
        color: #{$val};

        &:hover { //SO & targets the parent selector, this is useful for Psuedo selectors as seen
            color: blue; 
        }
    }

    //Background color
    .bg-#{$key} {
        background-color: $val;
    }

    //Border color
    .b-#{$key}{
        border: $val;
    }
}



