//LAYOUT LISTS 
$main-axis-layout-list: flex-start, flex-end, center, space-between, space-around;
$cross-axis-layout-list: center, flex-start, flex-end;
$text-align: left, center, right;


//justify content
@each $val in $main-axis-layout-list {
    .justify-#{$val} {
        justify-content: $val;
    }
}

//align items
@each $val in $cross-axis-layout-list {
    .align-#{$val} {
        align-items: $val;
    }
}

//Text-align
@each $val in $text-align {
    .text-#{$val} {
        text-align: $val;
    }
}
